<link rel="shortcut icon" type="image/x-icon" href="/y-muen/assets/favicon.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  $(function () {
    $('a').each(function () {
      var a = new RegExp('/' + window.location.host + '/');
      if (!a.test(this.href)) {
        $(this).attr({ 'target': '_blank', 'rel': 'noopener noreferrer' });
      }
    });
  });
</script>

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js"></script>
<script>
  const csvfile = 'https://y-muen.github.io/y-muen/toc.csv';
  const csvdata = $.get(csvfile, "text")
  const csv = $.csv.toArrays(csvdata.responseText);
  const list = $('#navi-array');
  $(csv).each((row, val)=>{
    var item = document.createElement('li');
    var a = document.createElement('a');
    item.appendChild(a);
    a.textContent = $.trim(val[0]);
    a.href = $.trim(val[1]); 
    list.append(item.outerHTML);
  });
</script>