<link rel="shortcut icon" type="image/x-icon" href="/y-muen/assets/favicon.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  $(function () {
    $('a').each(function () {
      var a = new RegExp('/' + window.location.host + '/');
      if (!a.test(this.href)) {
        $(this).attr({ 'target': '_blank', 'rel': 'noopener noreferrer' });
      }
    });
  });
</script>

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded" />

<script src="https://cdn.jsdelivr.net/npm/csv-parser"></script>
<script>
  const fs = require('fs');
  const parse = require('csv-parse/lib/sync');

  const data = fs.readFileSync('toc.csv');
  const records = parse(data, {columns: false});

  var list = document.getElementById('navi-array'); // ul
  records.forEach((row) => {
    var item = document.createElement('li');
    list.appendChild(item);
    var a = document.createElement('a');
    item.appendChild(a);
    a.textContent = row[0];
    a.href = row[1];
  });
</script>
