<link rel="shortcut icon" type="image/x-icon" href="/y-muen/assets/favicon.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  $(function () {
    $('a').each(function () {
      var a = new RegExp('/' + window.location.host + '/');
      if (!a.test(this.href)) {
        $(this).attr({ 'target': '_blank', 'rel': 'noopener noreferrer' });
      }
    });
  });
</script>

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded" />

<script>
  const csvfile = 'toc.csv';
  const csv = $.csv.toArrays(csvfile);
  const list = $('#navi-array');
  $(csv).each(()=>{
    var item = document.createElement('li');
    list.appendChild(item);
    var a = document.createElement('a');
    item.appendChild(a);
    a.textContent = this[0];
    a.href = this[1]; 
  });
</script>